<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Домашняя</title>
</head>
<body>
<header>
    <a th:href="@{/login}" sec:authorize="isAnonymous()">Вход</a>
    <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Выход</a>
</header>
<form action="#" th:action="@{/topic}" th:object="${topic}" method="get">
    <select th:field="*{id}">
        <option th:each="topic : ${topics}"
                th:value="${topic.id}"
                th:text="${topic.name}">
            <!--th:selected="${conf}"-->
        </option>
    </select>
    <input type="submit" th:value="Выбрать">
</form>
</body>
</html>